@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --card-color: white;
    --text-color: #343A40;
    --title-size: 1.75rem;
    --subtitle-size: 1.5rem;
}

html, body {
    overflow: hidden;
}

svg:not(:root) {
    overflow: visible !important;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    touch-action: none !important;
}

#viewport {
   background-image: radial-gradient(#ccc 10%, transparent 10%),
     radial-gradient(#ccc 10%, transparent 10%);
   background-color: #fff;
   background-position: 0 0, 50px 50px;
   background-size: 50px 50px;
   margin: 0;
}

.transition-move {
    transition: all 0.5s ease;
}

.card {   
    touch-action: pinch-zoom;
    border: solid 3pt #332E33;
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    display:flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--card-color);
    outline: none;
}

.card > .card-type {
    position: absolute;
    text-align: center;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: fit-content;

    font-family: 'Bebas Neue', sans-serif;
    font-size: var(--title-size);
    pointer-events: none;
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.card > .card-title {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 20%);
    height: fit-content;

    font-family: 'Bebas Neue', sans-serif;
    font-size: var(--subtitle-size);
    pointer-events: none;
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.card > .icon-container {
    width: 80%;
    height: 80%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-repeat: no-repeat;
}

.card-start {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);

}
.card-start::before {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 10%;
    right: 30%;
    z-index: 5;
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="%231f6aff" class="bi bi-geo-alt-fill" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/></svg>');
}

.container {
    position: relative;
    display: block;
}

.container-title {

    font-family: 'Bebas Neue', sans-serif !important;
    font-size: var(--title-size);
    text-overflow: ellipsis;
    pointer-events: none;
    color: #332E33;
    position: absolute;
    transform-origin: bottom right;
    transform: translate(-100%,-100%) rotate(270deg) translateY(100%);
    border-block-end: solid 2px lightgray;
}

.debug-info {
    position: absolute;
    max-width:  100%;
    top: 0%;
    right: 0%;
    transform: translate(100%, 0%);
    background-color: rgba(0, 255, 0, 0.5);
}

/* Selection of shadow options*/

.shadow-large {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.shadow-medium {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.28);
}

.shadow-small {
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
}